/**************************************************** 
                root css 
*****************************************************/
:root{
    --text-color: #777;
    --text-center: center;
    --primary-color: #1c1c1c;
    --font-size-16: 16px;
    --font-size-20: 20px; 
    --font-size-25: 25px;
    --font-size-30: 30px;
    --global-header-size: 45px;
    --border-radius: 10px;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --primary-gradient-background:  linear-gradient(270deg, #F00 0%, #FF8938 100%);
    --secondary-gradient-background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
    --light-gradient-background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%); 
}

/************************************************** 
                import google font 
**************************************************/
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/************************************************* 
                All custom CSS goes here 
**************************************************/
body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    max-width: 1140px;
}
.section-title{
    color: var(--primary-color);
    font-size: var(--global-header-size);
    font-weight: var(--font-weight-800);
    margin-bottom: 4px;
}
.section-description{
    color: var(--text-color);
    font-weight: 500;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.text-center{
    text-align: var(--text-center);
}
p{
    color: var(--text-color);
}

/********************************************* 
                header banner area 
**********************************************/
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.06);
}
.header-title{
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 14px;
}
.header-description{
    font-size: 18px;
    color: var(--text-color);
}
.primary-btn{
    padding: 18px;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-700);
    border: 0;
    border-radius: var(--border-radius);
    text-decoration: none;
}
.text-white{
    color: #fff;
}
.gradient-bg{
    background: var(--primary-gradient-background);
}
.header-image{
    margin-top: 121px;
    justify-content: center;
    position: relative;
}

/******************************************** 
            info styles 
*********************************************/
.rating-info{
    width: 255px;
    height: 100px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-left: 25px;
    background-color: #fff;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: var(--border-radius);
    margin-left: 80px;
    position: absolute;
    bottom: 10px;
}
.rating-icon{
    width: 48px;
    height: 45.943px;
    margin-bottom: 0;
}
.rating-count{
    color: var(--primary-color);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-800);
    margin-top: 0;
    margin-bottom: 0;
}
.rating-description{
    color: var(--primary-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-600);
    margin-top: 0;
}
/************************************ 
        Main Section Styles 
***************************************/
.products{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding: 50px 0;
}
.product{
    padding: 30px;
    background: var(--light-gradient-background);
    border-radius: var(--border-radius);
}
.product-img{
    margin-bottom: 9px;
}
.product-title{
    color: var(--primary-color);
    font-size: var(--font-size-25);
    margin-bottom: 0;
    font-weight: var(--font-weight-800);
}
.product-description{
    margin-top: 10px;
    font-weight: 600;
    font-feature-settings: 'clig' off, 'liga' off;
}
/* ---------------------------------
    tea presented container style
----------------------------------- */
.tea-presented-container{
    display: flex;
    gap: 52px;
}

/* ------------------------------------
        tea presented image styles
---------------------------------------- */
.tea-presented-image{
    /* width: 476px; */
    display: grid;
    grid-template-columns: repeat(2, 238px) ;
    column-gap: 30px;
}
.image-1 {
    height: 136px;
    border-radius: 10px;
    opacity: 0.1;
    background: linear-gradient(270deg, #F00 0%, #FF8938 100%);

}
.image-2{   
    border-radius: 10px;
    background: rgba(230, 166, 35, 0.10);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.image-2 img{
    padding: 58px 30px 38px;
}
.image-3{
    border-radius: 10px;
    background: rgba(230, 166, 35, 0.10);
    display: flex;
    justify-content: center;
    margin-top: -234px;
}
.image-3 img{
    padding: 58px 30px 38px;
}
.image-4 {
    height: 136px;
    border-radius: 10px;
    opacity: 1;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}

/* -------------------------------------
        tea presented text styles
---------------------------------------- */
.tea-presented-title{
    color: var(--primary-color);
    font-size: var(--global-header-size);
    font-weight: var(--font-weight-800);
    margin-top: 0;
    margin-bottom: 20px;
}
.tea-presented-description{
    color: var(--text-color);
    line-height: 28px;
    margin-bottom: 4px;
}
.unique-taste-title, .premium-quality-title{
    color: var(--primary-color);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-800);
    margin-bottom: 0;
}
.unique-taste-description{
    color: var(--text-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 500;
    line-height: 28px;
    margin-top: 10px;
}

/* meet our clients styles */
#super-client-area{
    background: var(--primary-gradient-background);
    padding: 150px 70px 190px;
    border-radius: 10px;
    display: flex;
    gap: 57px;
    position: relative;
    margin: 100px 0;
}

.super-client-description{
    width: 440px;
    color: #f4f4f4;
    margin-bottom: 30px;
}
.gradient-color{
    background: -webkit-linear-gradient(270deg, #F00 0%, #FF8938 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.bg-white{
    background: #fff;
    padding: 14px 8px;
    border-radius: 8px;
}

/* ----------------------------------
        Client Review Styles
------------------------------------ */
.super-client-review{
    width: 433px;
    /* position: relative; */
}
.client-photo{
    position: relative;
    top: 35px;
    left: -25px;
}
.client-info{
    padding: 40px;
    background: #fff; 
    border-radius: 7px;
}

.client-details{
    color: var(--text-color);
    line-height: 28px;
    margin-bottom: 20px;
}
.client-name{
    color: var(--primary-color);
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 700;
    line-height: 28px;
}
.client-designation{
    color: #5D5A6F;
    font-weight: 500;
    line-height: 28px;
    margin-top: 0;
}
.hidden-section-1{
    position: absolute;
    top: 0;
    right: 60px;
    opacity: 0.3;
}
.visual-section{
    position: absolute;
    top: 150px;
    right: 150px;
    z-index: 1;
}
.hidden-section-2{
    position: absolute;
    top: 300px;
    right: 60px;
    opacity: 0.3;
}

/* -----------------------------------
        News and Blogs Styles
------------------------------------ */
.blogs-heading{
    margin-bottom: 20px;
}
.blogs-details{
    margin-top: 0;
    margin-bottom: 50px;
}
.blogs{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 24px;
}
.blog{
    border: 1px solid #d2d2d2;
    border-radius: 10px;
}
.blog-img{
    margin-bottom: 0;
}
.blog-img img{
    padding: 22px;
}
.blog-info{
    padding: 0 32px 32px 32px;
}
.blog-date{
    color: var(--text-color);
    font-weight: 500;
    line-height: 28px;
    margin-top: 0;
    margin-bottom: 0;
    font-feature-settings: 'clig' off, 'liga' off;
}
.blog-title{
    color: var(--primary-color);
    font-size: var(--font-size-20);
    margin-top: 0;
    margin-bottom: 10px;
}
.blogs-details{
    color: var(--text-color);
    font-weight: 500;
    line-height: 28px;
    margin-bottom: 10px;
}
.read-more{
    color: var(--primary-color);
    text-decoration: none;
    font-weight: var(--font-weight-700);
    line-height: 28px;
}
/* -----------------------------
        Footer styles
------------------------------- */
#footer-area{
    background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
}
.footer-container{
    max-width: 1140px;
    margin: 50px auto 0;
    padding: 80px 0;
}
.footer-logo-area{
    display: flex;
    justify-content: space-between;
}
.logo-area-text{
    color: #494949;
    font-size: 20px;
    font-weight: 500;
    line-height: 40px;
}
.get-started-area{
    display: flex;
    align-items: center;
    column-gap: 40px;

}

/* -----------------------
    Footer menu styles
------------------------ */
#footer-main-content{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 60px;
}

.footer-menu-title, .our-service-title, .help-title{
    font-size: 20px;
    font-weight: 600;
    color: var(--primary-color);
    
}
.footer-menu ul{
    padding-left: 0;
}
.footer-menu ul > li{
    list-style: none ;
    margin-bottom: 18px;
}
.footer-menu ul > li > a{
    color: #494949;
    font-size: 16px;
    text-decoration: none;
}
.subscribe-title{
    color: var(--primary-color);
    font-size: 24px;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 47px;
}
#input-title{
    color: #494949;
}
.newsletter-input-area{
    display: flex;
    justify-content: space-between;
}
.subscribe-input{
    width: 220px;
    color: #494949;
    font-size: 14px;
    border-color: var(--primary-color);
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid;
    border-left: 0;
    background: transparent;
}
.input-icon-container{
    width: 32px;
    height: 32px;
    padding: 7px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.newsletter-grater-icon{
    font-size: 16px;
    font-weight: 400;
}
.footer-social{
    color: #494949;
    font-size: 24px;
    margin-top: 48px;
    margin-right: 24px;
}
.copyright-text{
    color: #494949;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}