/**************************************************** 
                root css 
*****************************************************/
:root{
    --text-color: #777;
    --text-center: center;
    --primary-color: #1c1c1c;
    --font-size-16: 16px;
    --font-size-20: 20px; 
    --font-size-25: 25px;
    --font-size-30: 30px;
    --global-header-size: 45px;
    --border-radius: 10px;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --font-weight-800: 800;
    --primary-gradient-background:  linear-gradient(270deg, #F00 0%, #FF8938 100%);
    --secondary-gradient-background: linear-gradient(270deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 137, 56, 0.10) 100%);
    --light-gradient-background: linear-gradient(180deg, #F4F4F4 0%, rgba(244, 244, 244, 0.00) 100%); 
}

/************************************************** 
                import google font 
**************************************************/
  @import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

/************************************************* 
                All custom CSS goes here 
**************************************************/
body{
    margin: 0;
    padding: 0;
    font-family: 'Manrope', sans-serif;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container{
    width: 1140px;
}
.section-title{
    color: var(--primary-color);
    font-size: var(--global-header-size);
    font-weight: var(--font-weight-800);
    margin-bottom: 4px;
}
.section-description{
    width: 900px;
    color: var(--text-color);
    font-weight: 500;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px;
}
.text-center{
    text-align: var(--text-center);
}
p{
    color: var(--text-color);
}

/********************************************* 
                header banner area 
**********************************************/
.banner-area{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 13px;
    padding-bottom: 50px;
    background: rgba(0, 0, 0, 0.06);
}
.header-title{
    font-size: 80px;
    font-weight: 800;
    line-height: 100px;
    margin-top: 0;
    margin-bottom: 14px;
}
.header-description{
    font-size: 18px;
    color: var(--text-color);
}
.primary-btn{
    color: #fff;
    padding: 18px;
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-700);
    border: 0;
    border-radius: var(--border-radius);
    background: var(--primary-gradient-background);
}
.header-image{
    margin-top: 121px;
    justify-content: center;
    position: relative;
}

/******************************************** 
            info styles 
*********************************************/
.rating-info{
    width: 255px;
    height: 100px;
    display: flex;
    align-items: center;
    column-gap: 13px;
    padding-left: 25px;
    background-color: #fff;
    box-shadow: 0px 7px 50px 0px rgba(0, 0, 0, 0.06);
    border-radius: var(--border-radius);
    margin-left: 80px;
    position: absolute;
    bottom: 10px;
}
.rating-icon{
    width: 48px;
    height: 45.943px;
    margin-bottom: 0;
}
.rating-count{
    color: var(--primary-color);
    font-size: var(--font-size-30);
    font-weight: var(--font-weight-800);
    margin-top: 0;
    margin-bottom: 0;
}
.rating-description{
    color: var(--primary-color);
    font-size: var(--font-size-16);
    font-weight: var(--font-weight-600);
    margin-top: 0;
}
/************************************ 
        Main Section Styles 
***************************************/
.products{
    display: flex;
    justify-content: space-between;
    column-gap: 24px;
    padding: 50px 0;
}
.product{
    padding: 30px;
    background: var(--light-gradient-background);
    border-radius: var(--border-radius);
}
.product-img{
    margin-bottom: 9px;
}
.product-title{
    color: var(--primary-color);
    font-size: var(--font-size-25);
    margin-bottom: 0;
    font-weight: var(--font-weight-800);
}
.product-description{
    margin-top: 10px;
    font-weight: 600;
    font-feature-settings: 'clig' off, 'liga' off;
}
/* ---------------------------------
    tea presented container style
----------------------------------- */
.tea-presented-container{
    display: flex;
    gap: 52px;
}

/* ------------------------------------
        tea presented image styles
---------------------------------------- */
.tea-presented-image{
    display: grid;
    grid-template-columns: repeat(2, 238px) ;
    column-gap: 30px;
}
.image-1 {
    height: 136px;
    border-radius: 10px;
    opacity: 0.1;
    background: linear-gradient(270deg, #F00 0%, #FF8938 100%);

}
.image-2{   
    border-radius: 10px;
    background: rgba(230, 166, 35, 0.10);
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.image-2 img{
    padding: 58px 30px 38px;
}
.image-3{
    border-radius: 10px;
    background: rgba(230, 166, 35, 0.10);
    display: flex;
    justify-content: center;
    margin-top: -234px;
}
.image-3 img{
    padding: 58px 30px 38px;
}
.image-4 {
    height: 136px;
    border-radius: 10px;
    opacity: 1;
    background: linear-gradient(90deg, #D9D9D9 0%, rgba(255, 255, 255, 0.00) 100%);
}

/* -------------------------------------
        tea presented text styles
---------------------------------------- */
.unique-taste-title, .premium-quality-title{
    color: var(--primary-color);
    font-size: var(--font-size-20);
    font-weight: var(--font-weight-800);
    margin-bottom: 0;
}
.unique-taste-description{
    color: var(--text-color);
    font-feature-settings: 'clig' off, 'liga' off;
    font-weight: 500;
    line-height: 28px;
    margin-top: 10px;
}